* {
    box-sizing: border-box;
}

.intro {
    background: green;
}

header {
    width: 20%;
    background: yellow;
    padding: 1em;
    margin: 1em;
    border: 5px solid blue;
    display: inline-block; /*inline does not work*/
}

.summary {
    width: 250px;
    display: inline-block;
}

.preamble {
    min-width: 400px;
    max-width: 500px;
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 10px;
    max-width: 250px;
    background: chartreuse;
    padding: 1em;
}

.page-wrapper {
    margin-right: 275px;
}

#zen-supporting {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.explanation, .particpation, .benefits, .requirements {
    flex: 2;
    flex-basis: 200px;

}

.benefits {
    order: -1;
}

footer {
    flex-basis: 10px;
}


